<div class="flex flex-col items-start gap-4 self-stretch px-8 py-4 rounded-[8px] bg-[#F5F5F5] shadow-custom">
  <!-- Title -->
  <div class="flex justify-between items-start self-stretch w-full">
    <p class="text-black text-[24px] font-bold leading-[28.8px] tracking-[-0.48px] poppins">
      Senior verkoopadviseur
    </p>
  </div>

  <!-- Content Wrapper -->
  <div class="flex flex-col items-start gap-6 self-stretch w-full">
    <!-- First Row -->
    <div class="flex flex-col items-start gap-6 self-stretch w-full">
      <div class="flex items-center self-stretch w-full ">
        <!-- First Item -->
        <div class="flex p-2 items-center gap-2 flex-grow flex-shrink-0 basis-0">
          <!-- SVG Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z" />
          </svg>
          <!-- Text -->
          <p class="text-black font-sans text-base font-normal leading-[1.4]">
            Stormin
          </p>
        </div>

        <!-- Second Item -->
        <div class="flex p-2 items-center gap-2 flex-grow flex-shrink-0 basis-0">
          <!-- SVG Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498l4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006L15.503 5.748c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 00-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695v12.485c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0z" />
          </svg>
          <!-- Text -->
          <p class="text-black font-sans text-base font-normal leading-[1.4]">
            Breda
          </p>
        </div>

        <!-- Third Item -->
        <div class="flex p-2 items-center gap-2 flex-grow flex-shrink-0 basis-0">
          <!-- SVG Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
          </svg>
          <!-- Text -->
          <p class="text-black font-sans text-base font-normal leading-[1.4]">
            Onsite
          </p>
        </div>
      </div>
    </div>

    <!-- Second Row -->
    <div class="flex items-center self-stretch w-full">
      <!-- First Item -->
      <div class="flex p-2 items-center gap-2 flex-grow flex-shrink-0 basis-0">
        <!-- SVG Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 7.756a4.5 4.5 0 100 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <!-- Text -->
        <p class="text-black font-sans text-base font-normal leading-[1.4]">
          ~2000,-
        </p>
      </div>

      <!-- Second Item -->
      <div class="flex p-2 items-center gap-2 flex-grow flex-shrink-0 basis-0">
        <!-- SVG Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <!-- Text -->
        <p class="text-black font-sans text-base font-normal leading-[1.4]">
          32-40u
        </p>
      </div>

      <!-- Third Item -->
      <div class="flex p-2 items-center gap-2 flex-grow flex-shrink-0 basis-0">
        <!-- SVG Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5A2.25 2.25 0 015.25 5.25h13.5A2.25 2.25 0 0121 7.5v11.25M3 18.75A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75M3 18.75v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5M12 12.75h.008v.008H12v-.008zM12 15h.008v.008H12V15zM12 17.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zM9.75 17.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zM7.5 17.25h.008v.008H7.5v-.008zM16.5 12.75h.008v.008H16.5v-.008zM16.5 15h.008v.008H16.5V15zM16.5 17.25h.008v.008H16.5v-.008z" />
        </svg>
        <!-- Text -->
        <p class="text-black font-sans text-base font-normal leading-[1.4]">
          Ma-Vr
        </p>
      </div>
    </div>
  </div>
</div>
