<div class="flex h-41px pt-7px pr-64px pb-2px pl-64px justify-center items-center">
  <div class="flex w-1312px justify-between items-center">
    <div class="flex-shrink-0 rounded-md" style="width: 81.712px; height: 23.84px; background: rgba(0, 0, 0, 0.70); border-radius: 6px;"></div>
    <div class="flex items-center" style="gap: 12px;">
      <div class="flex items-start" style="padding: 8px; gap: 40px;">
        <a href="#" class="text-[#28353D] font-normal text-[12px] leading-[12px] font-inter">
          Contact
        </a>
      </div>
      <div class="w-px h-4 bg-[#E2E6E9]"></div>
      <div class="flex items-center">
        <div class="flex w-20 p-2 justify-center items-center rounded-lg">
          <a href="#">
            Registreren
          </a>
        </div>
        <div class="flex w-20 p-2 justify-center items-center rounded-lg">
          <a href="#">
            Inloggen
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
