<div class="flex flex-col items-center w-[464px] border-solid border-2 border-indigo-600">
  <div class="flex h-[52px] items-start gap-[10px]">
    <p class=" poppins text-black font-medium text-2xl leading-normal">
        Begin nu
    </p>
  </div>
  <div class="flex flex-col p-8 items-start gap-8 self-stretch">
    <div class="flex items-center gap-1.5 self-stretch rounded-md">
      <div class="flex p-2.5 justify-center items-center gap-2.5 flex-[1_0_0] bg-gray-100">
        <p class="text-black font-medium text-2xl leading-normal poppins">
          Aanmelder
        </p>
      </div>
      <div class="flex p-2.5 justify-center items-center gap-2.5 flex-[1_0_0]">
        <p class="text-gray-600 font-medium text-2xl leading-normal poppins">
          Bedrijf
        </p>
      </div>
    </div>

    <div class="flex flex-col items-start gap-6 self-stretch">
      <div class="flex flex-col items-start gap-5 self-stretch  border-solid border-2 border-indigo-600">
        <div class="flex items-start gap-2.5">
          <p class="text-black font-medium text-sm leading-normal poppins">
            Naam
          </p>
        </div>
        <div class="flex items-start gap-2.5 shrink-0" style="height: 32px; padding: 10px 0 10px 10px;">
            
        </div>
      </div>
    </div>
  </div>
</div>

